h1 {
    color: red;
}
.head{
    padding-left:35% ;
}
ul > a > li {
    margin-left: 25px;
    list-style-position: inside;
    float:left;
}

body, li{
    text-align: center;
    list-style-position: inside;
}
.bold{
    color: red;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: aqua;
    padding: 5px; /* Footer içeriği için isteğe bağlı padding */
}

